// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usage {
	color: lightgray;
	/*background-color: #d3fff7*/
}

.subtitle {
	color: #e1c464;
	text-align: center;
}

.descriptionContainer {
	padding-top: 5%;

}