<!DOCTYPE html>
<html>
<head>
  <title>REST debug server by Marin Usalj | @mneorr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29681478-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

	<a href="https://github.com/mneorr/arest">
		<img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
	</a>

	<div class="header">A(wesome) REST debug server</div>
	
	<div class="mainContainer">
		<%= yield %>
	</div>

	<div class="footer">Brought to you by <a href="http://mneorr.com">@mneorr</a></div>

</body>
</html>
